{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": 
        ["transform-react-jsx-source",
          // antd-mobile
          [
            "import",
            {
              "libraryName": "antd-mobile"
            }
          ],

          ["module-resolver",{
              "root": ["./src"],
              "alias": {
                "containers": "./containers",
                "components": "./components",
                "store": "./store",
                "constants": "./constants",
                "assets": "./assets",
                "util": "./util"
              }
            }
          ]
        ]
      }
  }
}
